body {
  background-color: #1a1a1a;
  color: white;
}

h1 {
  color: crimson;
}

.layout {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  color: black;
}
